body {
    background-color: beige;
}

#playing-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 250px;
    height: 350px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px gray;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.left {
    align-self: flex-start;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.middle {
    display: flex;
    align-self: center;
    flex-direction: column;
    font-size: 4em;
    font-weight: bold;
}

.right {
    align-self: flex-end;
    flex-direction: column;
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
}

.rotate {
    transform: rotate(180deg);
}

.red {
    color: red;
}